{% extends 'base.html' %}
{% load static %}
{% block extra_title %}Contact{% endblock extra_title %}
{% block content %}
<div class="container-fluid content">
  <div class="container content vh-100">
    <hr />
    <h2 class="mb-3 text-uppercase">Contact Us</h2>
    <hr />
    <p class="mt-1 mb-4">Send us a message, we will get back to you as soon as possible</p>
    <div class="row no-gutter">
      <div class="col-md-12">
        <div class="login d-flex align-items-center mt-2">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-7 mx-auto">
                <div class="text-center pt-2 pb-3">
                  <form method="post">
                  {% csrf_token %}
                  {{form|crispy }}
                  <button type="submit">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}