{% extends 'base.html' %}
{% load static %}
{% block extra_title %}Home{% endblock %}

{% block content %}
<div class="hero-img">
  <div class="container">
    <div class="row">
      <div class="col-7 col-md-7 my-auto">
        <h1 class="display-4 logo-font text-dark mt-5">Daniela's Art Shop</h1>
        <h4 class="display-6 logo-font text-dark">by Daniela Kronvall</h4>
        <div class="my-5">
          <h3>
            <a href="{% url 'products' %}" class="btn btn-dark btn-lg rounded-0 text-uppercase py3">Shop Now</a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}