/* global styling */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato&display=swap');

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a,
.btn-link {
  text-decoration: none;
}

.card {
  border-radius: 0;
}

.hero-img {
  background: url(https://res.cloudinary.com/frank2021/image/upload/v1637383614/Danielas%20art%20shop/P1000871-copy_ejtbfq.jpg) center top;
  background-attachment: initial;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

@media(max-width:1000px) {
  .hero-img {
    background-attachment: initial;
  }
}

body {
  color: black;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

.content {
  min-height: 100vh;
}

.container-fluid {
  margin: 0 !important;
}

.btn-dark,
.btn-outline-dark {
  border-radius: 0;
  text-transform: uppercase;
  max-height: fit-content;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1rem;
  width: 1rem;
}

.logo-font {
  font-family: 'Caveat', cursive;
}


.shop-now-button {
  min-width: 260px;
}

a.category-badge>span.badge:hover {
  background: #000 !important;
  color: #fff !important;
}

.checkout-img {
  max-width: 150px;
}




/* about */
.about-img {
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.58);
}

/* bootstrap overrides */
.dropdown-menu {
  background-color: rgb(255, 236, 239);
}


/* navigation */
.bg-light,
nav {
  background-color: #d7f5e5 !important;
}

nav {
  border-bottom: 5px solid rgb(255, 236, 239);
}

header {
  border-top: 10px solid #FFB6C1;
}

/* footer */
.bg-pink {
  border-top: 5px solid #d7f5e5;
  background-color: #FFB6C1;
}

.main-logo-link {
  width: fit-content;
}

.navbar-toggler {
  color: #000 !important;
}

@media(max-width:768px) {
  .btt-button {
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
  }

  .btt-button:hover {
    background: #000;
    color: #fff;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  .btt-link {
    cursor: pointer;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* contact page */

#id_message,
input[type=text],
input[type=email] {
  resize: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 0 !important;
}

label {
  font-weight: 600;
}

/* ------------------------------- bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 10px;
  z-index: 99999999999;
}

.toast {
  position: fixed;
  top: 0;
  right: 0;
}

.toast-capper {
  height: 10px;
}

.toast-btn {
  font-size: 15px;
  margin-top: 5px;
}

.cart-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

#id_remember {
  margin-top: 5px;
}

.allauth-content {
  height: 100vh;
}

.allauth-form-inner-content p {
  margin-top: 1.5rem;
  /* mt-4 */
  color: #6c757d;
  /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
  max-width: 100%;
  margin-top: 10px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;

}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
  /* btn */
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 1px solid #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  margin-top: 10px;

  /* standard bootstrap btn transitions */
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
  color: #17a2b8;
  /* text-info */
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
  .display-4.logo-font.text-black {
    font-size: 2rem;
  }

  .nav-link {
    padding: 0.15rem;
  }

  .nav-link i.fa-lg {
    font-size: 1rem;
  }

  .navbar-toggler {
    padding: .375rem .375rem;
    font-size: 1rem;
  }

  #delivery-banner h4 {
    font-size: .9rem;
  }

  .btn.btn-outline-black.rounded-0,
  .btn.btn-black.rounded-0 {
    padding: .375rem .375rem;
  }

  .btn.btn-outline-black.rounded-0.btn-lg,
  .btn.btn-black.rounded-0.btn-lg {
    padding: .375rem .375rem;
    font-size: .75rem;
  }
}