<div class="container-fluid bg-light">
  <footer class="py-3">
    <ul class="nav justify-content-center border-bottom pb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-black"><i class="fas fa-home"></i> Home</a></li>
      <li class="nav-item"><a href="/" class="nav-link px-2 text-black"><i
            class="fas fa-envelope"></i> Contact Us</a></li>
      <li class="nav-item"><a href="/" class="nav-link px-2 text-black"><i
            class="fas fa-heart"></i> About</a></li>
    </ul>
    <ul class="nav justify-content-center border-bottom pb-3">
      <li class="nav-item"><a href="https://www.instagram.com/danielakronvallartanddance/" class="nav-link px-2 text-black" target="_blank"><i
            class="fab fa-instagram btn border-0"></i></a>
      </li>
      <li class="nav-item"><a href="https://www.facebook.com/daniela.kronvall" class="nav-link px-2 text-black" target="_blank"><i
            class="fab fa-facebook-square btn border-0"></i></a>
      </li>
    </ul>
    <p class="text-center text-muted">&copy; 2021 Company, Inc <h4 class="logo-font text-center">Daniela's Art Shop</h4></p>
  </footer>
</div>