<div class="container-fluid bg-pink">
  <div class="py-3">
    <ul class="nav justify-content-center">  
      <li class="nav-item"><a href="https://www.facebook.com/daniela.kronvall" class="nav-link px-2 text-black" target="_blank"><i
            class="fab fa-facebook-square fa-lg border-0"></i></a>
      </li>
      <li class="nav-item"><a href="https://www.instagram.com/danielakronvallartanddance/" class="nav-link px-2 text-black" target="_blank"><i
            class="fab fa-instagram fa-lg border-0"></i></a>
      </li>
    </ul>
    <h4 class="logo-font text-center">&copy; Daniela's Art Shop</h4>
  </div>
</div>