{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block extra_title %}Checkout Successful{% endblock extra_title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-4 mb-4 content">

  <div class="row">
    <div class="col">
      <hr>
      {% if from_profile %}
      <h2 class="mb-4 text-uppercase">Review Your Order</h2>
      {% else %}
      <h2 class="mb-4 text-uppercase">Order Confirmation</h2>
      {% endif %}
      <hr>
    </div>
  </div>

  <div class="row d-flex cart align-items-center justify-content-center my-3">
    <div class="col-md-10">
      <div class="card border-0">
        <div class="row">
          <div class="col">
            <div class="text-center my-2">
              <p class="text-dark">A confirmation email will be sent to
                <strong>{{ order.email }}</strong>
              </p>
              {% if from_profile %}
              <a href="{% url 'profile' %}" class="btn btn-dark rounded-0">
                <span class="icon mr-2">
                  <i class="fas fa-angle-left"></i>
                </span>
                <span class="text-uppercase">Back to Profile</span>
              </a>
              {% else %}
              <a href="{% url 'profile' %}" class="btn btn-dark rounded-0">
                <span class="icon mr-2">
                  <i class="fas fa-house-user"></i>
                </span>
                <span class="text-uppercase">To Order History</span>
              </a>
              {% endif %}
            </div>
            <hr>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-md-6">
            <h4 class="font-weight-bold text-center my-2">Order Confirmed</h4>
            <div class="text-center order-details">
              <div class="d-flex justify-content-center mb-5 flex-column align-items-center"><span class="check1"><i
                    class="fa fa-check"></i></span><small class="mt-2"></small>
                <p class="text-decoration-none">Order Number</p>
                <p class="mb-0">{{ order.order_number }}</p>
                <div class="row">
                  <div class="col">
                    <small class="text-muted">Delivering To:</small>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="mb-0">{{ order.full_name }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                  </div>

                  {% if order.street_address2 %}
                  <div class="row">
                    <div class="col">
                      <p class="mb-0">{{ order.street_address2 }}</p>
                    </div>
                  </div>
                  {% endif %}

                  <div class="row">
                    <div class="col">
                      <p class="mb-0">{{ order.town_or_city }}</p>
                    </div>
                  </div>

                  {% if order.postcode %}
                  <div class="row">
                    <div class="col">
                      <p class="mb-0">{{ order.postcode }}</p>
                    </div>
                  </div>
                  {% endif %}

                  <div class="row">
                    <div class="col">
                      <p class="mb-0">{{ order.country }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <p class="mb-0">{{ order.phone_number }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 bg-light d-flex flex-column">
            <div class="my-1 border-bottom text-center p-3">
              <h4 class="font-weight-bold text-center my-2">Order Summary</h4>
              <div class="d-flex justify-content-center mb-5 flex-column align-items-center"><span class="check1"><i
                    class="fas fa-clipboard-list"></i></span><small class="mt-2"></small>
              </div>

              {% for item in order.lineitems.all %}
              <div class="row my-4">
                <div class="col">
                  <p class="small mb-0 text-dark font-weight-bold">
                    {{ item.product.name }}
                  </p>
                </div>
                <div class="col">
                  <p class="small mb-0">{{ item.product.price }}kr</p>
                </div>
              </div>
              {% endfor %}
            </div>

            <div class="row g-0 border-bottom">
              <div class="col-md-6 border-right">
                <div class="my-1 d-flex justify-content-center align-items-center"> <span
                    class="mb-0 text-dark font-weight-bold small">Order Date:
                  </span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="my-1 d-flex justify-content-center align-items-center"><span
                    class="mb-0">{{ order.date|date }}
                  </span></div>
              </div>
            </div>
            <div class="row g-0 border-bottom">
              <div class="col-md-6">
                <div class="my-1 d-flex justify-content-center align-items-center small">
                  <span>Subtotal:</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="my-1 d-flex justify-content-center align-items-center">
                  <span>{{ order.order_total }}kr</span>
                </div>
              </div>
            </div>
            <div class="row g-0 border-bottom">
              <div class="col-md-6">
                <div class="my-1 d-flex justify-content-center align-items-center small">
                  <span>Delivery:</span> </div>
              </div>
              <div class="col-md-6">
                <div class="my-1 d-flex justify-content-center align-items-center ">
                  <span>{{ order.delivery_cost }}kr</span>
                </div>
              </div>
            </div>
            <div class="row g-0">
              <div class="col-md-6">
                <div class="my-1 d-flex justify-content-center align-items-center small"> <span
                    class="font-weight-bold">Total Paid:</span> </div>
              </div>
              <div class="col-md-6">
                <div class="my-1 d-flex justify-content-center align-items-center"> <span
                    class="font-weight-bold">{{ order.grand_total }}kr</span> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}