{% extends "base.html" %}
{% load static %}
{% load humanize %}

  {% block extra_css %}
  {% static 'css/checkout.css' %}
  {% endblock extra_css %}


{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
  <div class="row">
    <div class="col">
      <hr>
      <h2 class="mb-4">Checkout</h2>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <p class="text-muted">Please enter you information to complete your purchase</p>
    </div>
  </div>
  {% endblock %}